// start /components/sale.personal.menu/

link( rel="stylesheet", href="/components/sale.personal.menu/style.css" )
script( src="/components/sale.personal.menu/script.js" )

.b-personal-menu
  span Личные данные
  a(href='/personal/index.php?SECTION=account') Личный счет
  a(href='/about/contacts/') Контакты
  a(href='/personal/cart/') Корзина
  a(href='/personal/index.php?SECTION=orders') Мои заказы
  a(href='/personal/index.php?SECTION=orders&amp;filter_history=Y') История заказов
  a(href='/personal/index.php?SECTION=profile') Профили заказов

// end /components/sale.personal.menu/