
<div id="filterBlock" class="bj-catalogue-filter collapse i-large">
  <div class="bx-filter bx-filter-horizontal">
    <div class="bx-filter-section container-fluid">
      <form name="_form" action="/catalog/kurtki_1/" method="get" class="smartfilter">
        <div class="row bx-filter-parameters-box bx-active bx-filter-parameters-price"><span class="bx-filter-container-modef"></span>
          <div onclick="smartFilter.hideFilterProps(this)" class="col-xs-1 bx-filter-parameters-box-title"><span>Интернет-продажи Выкуп <i data-role="prop_angle" class="fa fa-angle-down"></i></span></div>
          <div data-role="bx_filter_block" class="col-xs-11 bx-filter-block">
            <div class="row bx-filter-parameters-box-container">
              <div class="col-xs-1 bx-filter-parameters-box-container-block bx-left"><i class="bx-ft-sub">От</i>
                <div class="bx-filter-input-container">
                  <input id="arrFILTER_P4_MIN" type="text" name="arrFILTER_P4_MIN" value="" size="5" onkeyup="smartFilter.keyup(this)" class="min-price"/>
                </div>
              </div>
              <div class="col-xs-10 bx-ui-slider-track-container">
                <div id="drag_track_a87ff679a2f3e71d9181a67b7542122c" class="bx-ui-slider-track">
                  <div class="bx-ui-slider-part p1"><span>1220</span></div>
                  <div class="bx-ui-slider-part p2"><span>3265</span></div>
                  <div class="bx-ui-slider-part p3"><span>5310</span></div>
                  <div class="bx-ui-slider-part p4"><span>7355</span></div>
                  <div class="bx-ui-slider-part p5"><span>9400</span></div>
                  <div id="colorUnavailableActive_a87ff679a2f3e71d9181a67b7542122c" style="left: 0;right: 0;" class="bx-ui-slider-pricebar-vd"></div>
                  <div id="colorAvailableInactive_a87ff679a2f3e71d9181a67b7542122c" style="left: 0%; right: 0%;" class="bx-ui-slider-pricebar-vn"></div>
                  <div id="colorAvailableActive_a87ff679a2f3e71d9181a67b7542122c" style="left: 0%; right: 0%;" class="bx-ui-slider-pricebar-v"></div>
                  <div id="drag_tracker_a87ff679a2f3e71d9181a67b7542122c" style="left: 0%; right: 0%;" class="bx-ui-slider-range"><a id="left_slider_a87ff679a2f3e71d9181a67b7542122c" style="left:0;" href="javascript:void(0)" class="bx-ui-slider-handle left"></a><a id="right_slider_a87ff679a2f3e71d9181a67b7542122c" style="right:0;" href="javascript:void(0)" class="bx-ui-slider-handle right"></a></div>
                </div>
              </div>
              <div class="col-xs-1 bx-filter-parameters-box-container-block bx-right"><i class="bx-ft-sub">До</i>
                <div class="bx-filter-input-container">
                  <input id="arrFILTER_P4_MAX" type="text" name="arrFILTER_P4_MAX" value="" size="5" onkeyup="smartFilter.keyup(this)" class="max-price"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-filter-parameters-size bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Размер																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_4251812312" for="arrFILTER_227_4251812312" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_4251812312" type="checkbox" value="Y" name="arrFILTER_227_4251812312" onclick="smartFilter.click(this)"/><span title="44/176" class="bx-filter-param-text">44/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2322248014" for="arrFILTER_227_2322248014" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2322248014" type="checkbox" value="Y" name="arrFILTER_227_2322248014" onclick="smartFilter.click(this)"/><span title="44/182" class="bx-filter-param-text">44/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3810227328" for="arrFILTER_227_3810227328" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3810227328" type="checkbox" value="Y" name="arrFILTER_227_3810227328" onclick="smartFilter.click(this)"/><span title="46/176" class="bx-filter-param-text">46/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2484880406" for="arrFILTER_227_2484880406" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2484880406" type="checkbox" value="Y" name="arrFILTER_227_2484880406" onclick="smartFilter.click(this)"/><span title="46/182" class="bx-filter-param-text">46/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_175690165" for="arrFILTER_227_175690165" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_175690165" type="checkbox" value="Y" name="arrFILTER_227_175690165" onclick="smartFilter.click(this)"/><span title="46/188" class="bx-filter-param-text">46/188</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2473689103" for="arrFILTER_227_2473689103" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2473689103" type="checkbox" value="Y" name="arrFILTER_227_2473689103" onclick="smartFilter.click(this)"/><span title="48/170" class="bx-filter-param-text">48/170</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_63872414" for="arrFILTER_227_63872414" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_63872414" type="checkbox" value="Y" name="arrFILTER_227_63872414" onclick="smartFilter.click(this)"/><span title="48/176" class="bx-filter-param-text">48/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1959374088" for="arrFILTER_227_1959374088" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1959374088" type="checkbox" value="Y" name="arrFILTER_227_1959374088" onclick="smartFilter.click(this)"/><span title="48/182" class="bx-filter-param-text">48/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1112834923" for="arrFILTER_227_1112834923" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1112834923" type="checkbox" value="Y" name="arrFILTER_227_1112834923" onclick="smartFilter.click(this)"/><span title="48/188" class="bx-filter-param-text">48/188</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3680359121" for="arrFILTER_227_3680359121" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3680359121" type="checkbox" value="Y" name="arrFILTER_227_3680359121" onclick="smartFilter.click(this)"/><span title="50/170" class="bx-filter-param-text">50/170</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1161381746" for="arrFILTER_227_1161381746" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1161381746" type="checkbox" value="Y" name="arrFILTER_227_1161381746" onclick="smartFilter.click(this)"/><span title="50/176" class="bx-filter-param-text">50/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_842954724" for="arrFILTER_227_842954724" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_842954724" type="checkbox" value="Y" name="arrFILTER_227_842954724" onclick="smartFilter.click(this)"/><span title="50/182" class="bx-filter-param-text">50/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2872518238" for="arrFILTER_227_2872518238" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2872518238" type="checkbox" value="Y" name="arrFILTER_227_2872518238" onclick="smartFilter.click(this)"/><span title="50/188" class="bx-filter-param-text">50/188</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3694139080" for="arrFILTER_227_3694139080" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3694139080" type="checkbox" value="Y" name="arrFILTER_227_3694139080" onclick="smartFilter.click(this)"/><span title="50/194" class="bx-filter-param-text">50/194</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_998783951" for="arrFILTER_227_998783951" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_998783951" type="checkbox" value="Y" name="arrFILTER_227_998783951" onclick="smartFilter.click(this)"/><span title="52/170" class="bx-filter-param-text">52/170</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1531949610" for="arrFILTER_227_1531949610" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1531949610" type="checkbox" value="Y" name="arrFILTER_227_1531949610" onclick="smartFilter.click(this)"/><span title="52/176" class="bx-filter-param-text">52/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_742949564" for="arrFILTER_227_742949564" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_742949564" type="checkbox" value="Y" name="arrFILTER_227_742949564" onclick="smartFilter.click(this)"/><span title="52/182" class="bx-filter-param-text">52/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3040989958" for="arrFILTER_227_3040989958" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3040989958" type="checkbox" value="Y" name="arrFILTER_227_3040989958" onclick="smartFilter.click(this)"/><span title="52/188" class="bx-filter-param-text">52/188</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3259425680" for="arrFILTER_227_3259425680" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3259425680" type="checkbox" value="Y" name="arrFILTER_227_3259425680" onclick="smartFilter.click(this)"/><span title="52/194" class="bx-filter-param-text">52/194</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_723863205" for="arrFILTER_227_723863205" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_723863205" type="checkbox" value="Y" name="arrFILTER_227_723863205" onclick="smartFilter.click(this)"/><span title="54/170" class="bx-filter-param-text">54/170</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2989233951" for="arrFILTER_227_2989233951" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2989233951" type="checkbox" value="Y" name="arrFILTER_227_2989233951" onclick="smartFilter.click(this)"/><span title="54/176" class="bx-filter-param-text">54/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3307939721" for="arrFILTER_227_3307939721" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3307939721" type="checkbox" value="Y" name="arrFILTER_227_3307939721" onclick="smartFilter.click(this)"/><span title="54/182" class="bx-filter-param-text">54/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1435777560" for="arrFILTER_227_1435777560" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1435777560" type="checkbox" value="Y" name="arrFILTER_227_1435777560" onclick="smartFilter.click(this)"/><span title="54/188" class="bx-filter-param-text">54/188</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_124113279" for="arrFILTER_227_124113279" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_124113279" type="checkbox" value="Y" name="arrFILTER_227_124113279" onclick="smartFilter.click(this)"/><span title="56/170" class="bx-filter-param-text">56/170</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2657910981" for="arrFILTER_227_2657910981" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2657910981" type="checkbox" value="Y" name="arrFILTER_227_2657910981" onclick="smartFilter.click(this)"/><span title="56/176" class="bx-filter-param-text">56/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_3916148819" for="arrFILTER_227_3916148819" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_3916148819" type="checkbox" value="Y" name="arrFILTER_227_3916148819" onclick="smartFilter.click(this)"/><span title="56/182" class="bx-filter-param-text">56/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1997481456" for="arrFILTER_227_1997481456" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1997481456" type="checkbox" value="Y" name="arrFILTER_227_1997481456" onclick="smartFilter.click(this)"/><span title="56/188" class="bx-filter-param-text">56/188</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_529766" for="arrFILTER_227_529766" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_529766" type="checkbox" value="Y" name="arrFILTER_227_529766" onclick="smartFilter.click(this)"/><span title="56/194" class="bx-filter-param-text">56/194</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2126080475" for="arrFILTER_227_2126080475" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2126080475" type="checkbox" value="Y" name="arrFILTER_227_2126080475" onclick="smartFilter.click(this)"/><span title="58/176" class="bx-filter-param-text">58/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_163469645" for="arrFILTER_227_163469645" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_163469645" type="checkbox" value="Y" name="arrFILTER_227_163469645" onclick="smartFilter.click(this)"/><span title="58/182" class="bx-filter-param-text">58/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1846809777" for="arrFILTER_227_1846809777" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1846809777" type="checkbox" value="Y" name="arrFILTER_227_1846809777" onclick="smartFilter.click(this)"/><span title="60/176" class="bx-filter-param-text">60/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_420684839" for="arrFILTER_227_420684839" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_420684839" type="checkbox" value="Y" name="arrFILTER_227_420684839" onclick="smartFilter.click(this)"/><span title="60/182" class="bx-filter-param-text">60/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_4007775335" for="arrFILTER_227_4007775335" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_4007775335" type="checkbox" value="Y" name="arrFILTER_227_4007775335" onclick="smartFilter.click(this)"/><span title="62/176" class="bx-filter-param-text">62/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_2582052081" for="arrFILTER_227_2582052081" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_2582052081" type="checkbox" value="Y" name="arrFILTER_227_2582052081" onclick="smartFilter.click(this)"/><span title="62/182" class="bx-filter-param-text">62/182</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_125987154" for="arrFILTER_227_125987154" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_125987154" type="checkbox" value="Y" name="arrFILTER_227_125987154" onclick="smartFilter.click(this)"/><span title="64/176" class="bx-filter-param-text">64/176</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_227_1887787460" for="arrFILTER_227_1887787460" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_227_1887787460" type="checkbox" value="Y" name="arrFILTER_227_1887787460" onclick="smartFilter.click(this)"/><span title="64/182" class="bx-filter-param-text">64/182</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div><br/><br/>
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Цвет ткани																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_2721660952" for="arrFILTER_247_2721660952" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_2721660952" type="checkbox" value="Y" name="arrFILTER_247_2721660952" onclick="smartFilter.click(this)"/><span title="синий" class="bx-filter-param-text">синий</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_4039682943" for="arrFILTER_247_4039682943" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_4039682943" type="checkbox" value="Y" name="arrFILTER_247_4039682943" onclick="smartFilter.click(this)"/><span title="коричневый" class="bx-filter-param-text">коричневый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_2278530025" for="arrFILTER_247_2278530025" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_2278530025" type="checkbox" value="Y" name="arrFILTER_247_2278530025" onclick="smartFilter.click(this)"/><span title="серый" class="bx-filter-param-text">серый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_516344403" for="arrFILTER_247_516344403" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_516344403" type="checkbox" value="Y" name="arrFILTER_247_516344403" onclick="smartFilter.click(this)"/><span title="черный" class="bx-filter-param-text">черный</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_1774320325" for="arrFILTER_247_1774320325" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_1774320325" type="checkbox" value="Y" name="arrFILTER_247_1774320325" onclick="smartFilter.click(this)"/><span title="бежевый" class="bx-filter-param-text">бежевый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_4154814310" for="arrFILTER_247_4154814310" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_4154814310" type="checkbox" value="Y" name="arrFILTER_247_4154814310" onclick="smartFilter.click(this)"/><span title="голубой" class="bx-filter-param-text">голубой</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_2158125040" for="arrFILTER_247_2158125040" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_2158125040" type="checkbox" value="Y" name="arrFILTER_247_2158125040" onclick="smartFilter.click(this)"/><span title="красный" class="bx-filter-param-text">красный</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_430640714" for="arrFILTER_247_430640714" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_430640714" type="checkbox" value="Y" name="arrFILTER_247_430640714" onclick="smartFilter.click(this)"/><span title="зеленый" class="bx-filter-param-text">зеленый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_4262667085" for="arrFILTER_247_4262667085" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_4262667085" type="checkbox" value="Y" name="arrFILTER_247_4262667085" onclick="smartFilter.click(this)"/><span title="белый" class="bx-filter-param-text">белый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_2299794395" for="arrFILTER_247_2299794395" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_2299794395" type="checkbox" value="Y" name="arrFILTER_247_2299794395" onclick="smartFilter.click(this)"/><span title="фиолетовый" class="bx-filter-param-text">фиолетовый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_131988242" for="arrFILTER_247_131988242" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_131988242" type="checkbox" value="Y" name="arrFILTER_247_131988242" onclick="smartFilter.click(this)"/><span title="бордовый" class="bx-filter-param-text">бордовый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_959771501" for="arrFILTER_247_959771501" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_959771501" type="checkbox" value="Y" name="arrFILTER_247_959771501" onclick="smartFilter.click(this)"/><span title="оливковый" class="bx-filter-param-text">оливковый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_184717807" for="arrFILTER_247_184717807" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_184717807" type="checkbox" value="Y" name="arrFILTER_247_184717807" onclick="smartFilter.click(this)"/><span title="темно-коричневый" class="bx-filter-param-text">темно-коричневый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_247_875164583" for="arrFILTER_247_875164583" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_247_875164583" type="checkbox" value="Y" name="arrFILTER_247_875164583" onclick="smartFilter.click(this)"/><span title="хаки" class="bx-filter-param-text">хаки</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Сезон																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_248_4100188062" for="arrFILTER_248_4100188062" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_248_4100188062" type="checkbox" value="Y" name="arrFILTER_248_4100188062" onclick="smartFilter.click(this)"/><span title="мультисезон" class="bx-filter-param-text">мультисезон</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_248_3271477757" for="arrFILTER_248_3271477757" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_248_3271477757" type="checkbox" value="Y" name="arrFILTER_248_3271477757" onclick="smartFilter.click(this)"/><span title="осень-зима" class="bx-filter-param-text">осень-зима</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_248_3053058411" for="arrFILTER_248_3053058411" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_248_3053058411" type="checkbox" value="Y" name="arrFILTER_248_3053058411" onclick="smartFilter.click(this)"/><span title="весна-лето" class="bx-filter-param-text">весна-лето</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_248_753969361" for="arrFILTER_248_753969361" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_248_753969361" type="checkbox" value="Y" name="arrFILTER_248_753969361" onclick="smartFilter.click(this)"/><span title="демисезон" class="bx-filter-param-text">демисезон</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Модель																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_249_1542953031" for="arrFILTER_249_1542953031" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_249_1542953031" type="checkbox" value="Y" name="arrFILTER_249_1542953031" onclick="smartFilter.click(this)"/><span title="Classic fit" class="bx-filter-param-text">Classic fit</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_249_3314748900" for="arrFILTER_249_3314748900" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_249_3314748900" type="checkbox" value="Y" name="arrFILTER_249_3314748900" onclick="smartFilter.click(this)"/><span title="Classic " class="bx-filter-param-text">Classic </span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_249_2996059506" for="arrFILTER_249_2996059506" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_249_2996059506" type="checkbox" value="Y" name="arrFILTER_249_2996059506" onclick="smartFilter.click(this)"/><span title="Slim fit" class="bx-filter-param-text">Slim fit</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Год																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_3746726934" for="arrFILTER_250_3746726934" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_3746726934" type="checkbox" value="Y" name="arrFILTER_250_3746726934" onclick="smartFilter.click(this)"/><span title="2011 год" class="bx-filter-param-text">2011 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_3365027173" for="arrFILTER_250_3365027173" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_3365027173" type="checkbox" value="Y" name="arrFILTER_250_3365027173" onclick="smartFilter.click(this)"/><span title="2012 год" class="bx-filter-param-text">2012 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_647781449" for="arrFILTER_250_647781449" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_647781449" type="checkbox" value="Y" name="arrFILTER_250_647781449" onclick="smartFilter.click(this)"/><span title="15.01.2016 г." class="bx-filter-param-text">15.01.2016 г.</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_1369140447" for="arrFILTER_250_1369140447" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_1369140447" type="checkbox" value="Y" name="arrFILTER_250_1369140447" onclick="smartFilter.click(this)"/><span title="2015 год" class="bx-filter-param-text">2015 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_3103312362" for="arrFILTER_250_3103312362" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_3103312362" type="checkbox" value="Y" name="arrFILTER_250_3103312362" onclick="smartFilter.click(this)"/><span title="2016 год" class="bx-filter-param-text">2016 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_569481296" for="arrFILTER_250_569481296" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_569481296" type="checkbox" value="Y" name="arrFILTER_250_569481296" onclick="smartFilter.click(this)"/><span title="2014 год" class="bx-filter-param-text">2014 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_1459005638" for="arrFILTER_250_1459005638" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_1459005638" type="checkbox" value="Y" name="arrFILTER_250_1459005638" onclick="smartFilter.click(this)"/><span title="14.10.2015 год" class="bx-filter-param-text">14.10.2015 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_3326719319" for="arrFILTER_250_3326719319" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_3326719319" type="checkbox" value="Y" name="arrFILTER_250_3326719319" onclick="smartFilter.click(this)"/><span title="2013 год" class="bx-filter-param-text">2013 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_163555280" for="arrFILTER_250_163555280" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_163555280" type="checkbox" value="Y" name="arrFILTER_250_163555280" onclick="smartFilter.click(this)"/><span title=" 2019 год" class="bx-filter-param-text"> 2019 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_2724670661" for="arrFILTER_250_2724670661" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_2724670661" type="checkbox" value="Y" name="arrFILTER_250_2724670661" onclick="smartFilter.click(this)"/><span title="2017 год" class="bx-filter-param-text">2017 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_1377810609" for="arrFILTER_250_1377810609" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_1377810609" type="checkbox" value="Y" name="arrFILTER_250_1377810609" onclick="smartFilter.click(this)"/><span title="2018 год" class="bx-filter-param-text">2018 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_5736230" for="arrFILTER_250_5736230" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_5736230" type="checkbox" value="Y" name="arrFILTER_250_5736230" onclick="smartFilter.click(this)"/><span title="2019 год" class="bx-filter-param-text">2019 год</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_250_3981150003" for="arrFILTER_250_3981150003" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_250_3981150003" type="checkbox" value="Y" name="arrFILTER_250_3981150003" onclick="smartFilter.click(this)"/><span title="2020" class="bx-filter-param-text">2020</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Торговая марка																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_251_2974713281" for="arrFILTER_251_2974713281" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_251_2974713281" type="checkbox" value="Y" name="arrFILTER_251_2974713281" onclick="smartFilter.click(this)"/><span title="BAZIONI" class="bx-filter-param-text">BAZIONI</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_251_3820973734" for="arrFILTER_251_3820973734" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_251_3820973734" type="checkbox" value="Y" name="arrFILTER_251_3820973734" onclick="smartFilter.click(this)"/><span title="ABSOLUTEX" class="bx-filter-param-text">ABSOLUTEX</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_251_3705032824" for="arrFILTER_251_3705032824" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_251_3705032824" type="checkbox" value="Y" name="arrFILTER_251_3705032824" onclick="smartFilter.click(this)"/><span title="LACONI" class="bx-filter-param-text">LACONI</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_251_4007670522" for="arrFILTER_251_4007670522" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_251_4007670522" type="checkbox" value="Y" name="arrFILTER_251_4007670522" onclick="smartFilter.click(this)"/><span title="BOLINI" class="bx-filter-param-text">BOLINI</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_251_244059924" for="arrFILTER_251_244059924" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_251_244059924" type="checkbox" value="Y" name="arrFILTER_251_244059924" onclick="smartFilter.click(this)"/><span title="Absolutex new tendency" class="bx-filter-param-text">Absolutex new tendency</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 bx-filter-parameters-box bx-active"><span class="bx-filter-container-modef"></span>
            <div onclick="smartFilter.hideFilterProps(this)" class="bx-filter-parameters-box-title"><span class="bx-filter-parameters-box-hint">Дизайн																<i data-role="prop_angle" class="fa fa-angle-up"></i></span></div>
            <div data-role="bx_filter_block" class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_4080890475" for="arrFILTER_262_4080890475" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_4080890475" type="checkbox" value="Y" name="arrFILTER_262_4080890475" onclick="smartFilter.click(this)"/><span title=" гладь" class="bx-filter-param-text"> гладь</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_1834608584" for="arrFILTER_262_1834608584" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_1834608584" type="checkbox" value="Y" name="arrFILTER_262_1834608584" onclick="smartFilter.click(this)"/><span title="мелкоузорчатый" class="bx-filter-param-text">мелкоузорчатый</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_442423134" for="arrFILTER_262_442423134" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_442423134" type="checkbox" value="Y" name="arrFILTER_262_442423134" onclick="smartFilter.click(this)"/><span title="мелкая полоса" class="bx-filter-param-text">мелкая полоса</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_2203551460" for="arrFILTER_262_2203551460" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_2203551460" type="checkbox" value="Y" name="arrFILTER_262_2203551460" onclick="smartFilter.click(this)"/><span title="диагональ" class="bx-filter-param-text">диагональ</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_4098930290" for="arrFILTER_262_4098930290" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_4098930290" type="checkbox" value="Y" name="arrFILTER_262_4098930290" onclick="smartFilter.click(this)"/><span title="мелкая клетка" class="bx-filter-param-text">мелкая клетка</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_1693428707" for="arrFILTER_262_1693428707" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_1693428707" type="checkbox" value="Y" name="arrFILTER_262_1693428707" onclick="smartFilter.click(this)"/><span title="елочка" class="bx-filter-param-text">елочка</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_334011253" for="arrFILTER_262_334011253" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_334011253" type="checkbox" value="Y" name="arrFILTER_262_334011253" onclick="smartFilter.click(this)"/><span title="клетка" class="bx-filter-param-text">клетка</span></span></label>
                </div>
                <div class="checkbox">
                  <label data-role="label_arrFILTER_262_3516218479" for="arrFILTER_262_3516218479" class="bx-filter-param-label"><span class="bx-filter-input-checkbox">
                      <input id="arrFILTER_262_3516218479" type="checkbox" value="Y" name="arrFILTER_262_3516218479" onclick="smartFilter.click(this)"/><span title="полоса" class="bx-filter-param-text">полоса</span></span></label>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
        </div>
        <!-- //row-->
        <div class="row buttons-panel">
          <div class="col-xs-12 bx-filter-button-box">
            <div class="bx-filter-block">
              <div class="bx-filter-parameters-box-container">
                <input id="del_filter" type="button" name="del_filter" value="Сбросить" class="btn btn-default btn-size-L"/>
                <input id="set_filter" type="button" name="set_filter" value="Показать" class="btn btn-default btn-size-L btn-inverse"/>
                <div id="modef" style="display:none" class="bx-filter-popup-result">Выбрано: <span id="modef_num">0</span><span class="arrow"></span><br/><a href="/catalog/kurtki_1/filter/clear/" target="">Показать</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clb"></div>
      </form>
    </div>
  </div>
</div>