extends ../../../layouts/main.jade

block title
  title Letter form | Seller

block content
   
  .bj-page-content.container-fluid
  
    ol.breadcrumb
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Письмо руководству
        
  .bj-page-content.container-fluid
  
    h1 Письмо руководству
  
    include ../../../components/forms.letter/response
    
    hr.i-size-L
        
        