#bx-
  .b-actions-item

    .b-actions-item__img
      a( href="" )
        span( data-original="/upload/actions/1.jpg" )
        span( data-original="/upload/actions/1-1.jpg" )
      span.b-actions-item__label( style="background-color: #ff3333;" ) 5% в декабре
      .b-actions-item__props-icons
        .b-prop(style="background-color: #FF7146;") Хит
        .b-prop(style="background-color: #68B496;") Новинка
        
    hr
        
    .b-actions-item__title
      a( href="" ) 4047 SPW M CORN DK NAVY/Куртка мужская (пуховик)
      
    hr.i-size-S
    
    .b-actions-item__brand BAZIONI
    .b-actions-item__price от 5 190 руб.
    .b-actions-item__amount 21 шт.