#bx-
  .b-actions-item

    .b-actions-item__img
      a( href="" )
        span( data-original="/upload/actions/1.jpg" )
        span( data-original="/upload/actions/1-1.jpg" )
      span.b-actions-item__label( style="background-color: #ff3333;" ) 5% в декабре
      .b-actions-item__props-icons
        .b-prop(style="background-color: #ca3538;") 35%
        .b-prop(style="background-color: #77388D;") Рекомендуем
        .b-prop(style="background-color: #68B496;") Новинка
        
    hr
        
    .b-actions-item__title
      a( href="" ) 4047 SPW M CORN DK NAVY/Куртка мужская (пуховик)
    
    .b-actions-item__brand
      span BAZIONI
      span Сорт. 123
      span 23 шт
    
    .b-actions-item__price
      .row
        .col-xs-4.i-sale 8 360 руб.
          s 10 360 руб.
        .col-xs-4.i-sale 8 360 руб.
          s 10 360 руб.
        .col-xs-4.i-sale 8 360 руб.
          s 10 360 руб.