#bx-
  .b-actions-item

    .b-actions-item__img
      a( href="" )
        span( data-original="/upload/actions/1.jpg" )
        span( data-original="/upload/actions/1-1.jpg" )
        
    hr
        
    .b-actions-item__title
      a( href="" ) 4047 SPW M CORN DK NAVY/Куртка мужская (пуховик)
      
    hr.i-size-S
    
    .b-actions-item__brand BAZIONI
