// start /components/actions/

link( rel="stylesheet", href="/components/actions/style.css" )
script( src="/components/actions/script.js" )

style
  | .b-actions-item { background-color: #f2f2f2; height: 400px; }
  | .b-actions-item__img, .b-actions-item__title, .b-actions-item__brand, .b-actions-item__price, .b-actions-item__amount { opacity: 0; }

.b-actions( itemscope itemtype="http://schema.org/SomeProducts" )
  .row
    .col-sm-8
      h1 Верблюжье пальто
    .col-sm-4
      include ../../modules/catalog-tags/include
  
  include ../../modules/banners/banner-12
  
  hr
  
  p В этом разделе вы найдете все необходимое для мужского гардероба для любого сезона. Большой выбор одежды разных стилей и ценовых категорий от лучших мировых брендов.
  
  hr
    
  .row

    .col-sm-6
      
      .bj-sorting
        .text-muted Сортировка:
        .dropdown
          a#dLabel(href='#', role='button', data-toggle='dropdown', data-target='#', aria-expanded='false')
            | Недорогие вещи для зимы
            span.caret
          ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
            li
              a(href='/catalog/shoes/?sort=cheap#sort') Недорогие
            li
              a(href='/catalog/shoes/?sort=new#sort') Новые
            li
              a(href='/catalog/shoes/?sort=popular#sort') Популярные
        .clearfix
    hr.visible-xs
        
    .col-sm-6.text-right.hidden-xs
      include ../../modules/pagination/include
      
  hr.i-line.i-size-L
  
  .row
  
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element
      
  hr.i-size-L
  
  .row
  
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element
      
    hr.visible-xs-block.i-size-XL
      
    .col-sm-3
      include element
        
  hr.i-size-XL
  hr.i-size-XL
    

// end /components/actions/