.fotorama( data-nav="thumbs" )
  img( src="/upload/catalog/1.jpg" alt="" )
  img( src="/upload/catalog/2.jpg" alt="" )
  img( src="/upload/catalog/3.jpg" alt="" )
  img( src="/upload/catalog/4.jpg" alt="" )