// start /components/forms.letter/

link( rel="stylesheet", href="/components/forms.letter/style.css" )
script( src="/components/forms.letter/script.js" )

.b-forms-letter
    
  .b-forms-letter__response
    img( src="/template/images/postman.jpg" alt="" )
    hr.i-size-L
    p Письмо отправлено успешно!<br>Мы уже доставляем его руководству.
    hr.i-size-L
    a.btn.btn-default.btn-size-L.btn-font-S.btn-filled( href="/catalog/" ) Перейти в каталог

// end /components/forms.letter/