// start /components/forms.letter/

link( rel="stylesheet", href="/components/forms.letter/style.css" )
script( src="/components/forms.letter/script.js" )

.b-forms-letter
    
  .row
    
    .col-sm-8.col-sm-offset-2
  
      form( action="/forms/letter/response/" method="GET" )

        .b-forms-letter__error Произошла ошибка!
          hr
      
        p Мы внимательно относимся к вашему мнению и следим за качеством оказываемых услуг. Если у вас возникли проблемы или предложения, напишите нам.
        
        hr
        
        .row
        
          .col-sm-6
          
            .b-float-label
              input#letterFormName( type="text" name="NAME" value="" autocomplete="off" data-required="true" )
              label( for="letterFormName" ) Ваше имя
        
          .col-sm-6
          
            .b-float-label
              input#letterFormEmail( type="email" name="EMAIL" value="" autocomplete="off" data-required="true" )
              label( for="letterFormEmail" ) Ваш email
        
        .row
        
          .col-sm-6
          
            .b-float-label
              input#letterFormCompany( type="text" name="COMPANY" value="" autocomplete="off" )
              label( for="letterFormCompany" ) Название организации
           
        .row
        
          .col-sm-12
            .b-float-label
              textarea#letterFormMessage( name="MESSAGE" value="" autocomplete="off" data-required="true" )
              label( for="letterFormMessage" ) Сообщение
          
        input.btn.btn-default.btn-size-L.btn-font-S.btn-filled.btn-disabled( type="submit" value="Отправить" )
        
// end /components/forms.letter/