extends ../../layouts/main.jade

block title
  title Reg form | absolutex

block content
   
  .bj-page-content.container-fluid
  
    ol.breadcrumb
      li
        a(href='/', title='Главная страница') Главная страница
      li
        span Регистрация
        
    include ../../components/forms.reg/template