b
  font-weight bold

u
  text-decoration underline

.note
  text-align center
  font-size 10pt
  font-style italic

p
  margin 0
  padding 0
  text-indent 50px
  text-align justify

table
  display table
  border-collapse collapse
  border 0
  box-sizing border-box
  text-indent initial
  width 800px
  margin-bottom 20px

td
  font-family Arial, sans-serif
  font-size 10.5pt
  line-height 1.4
  vertical-align top
  padding-bottom 0
  color #000

  &.text-right
    text-align right

  &.text-center
    text-align center

  &.pb-1
    padding-bottom 1rem

tr.border

  td
    border 1px solid #000
    padding 10px

table.signature
  margin 100px 0 200px

  td
    text-align center

  span.underline
    display inline-block
    border-bottom 1px solid #000
    width 150px

table.signature-final

  td
    text-align center

  span.underline
    display inline-block
    border-bottom 1px solid #000
    width 150px