
<!-- start /components/forms.letter/-->
<link rel="stylesheet" href="/components/forms.letter/style.css"/>
<script src="/components/forms.letter/script.js"></script>
<div class="b-forms-letter">
  <div class="b-forms-letter__response"><img src="/template/images/postman.jpg" alt=""/>
    <hr class="i-size-M"/>
    <p>Письмо отправлено успешно!<br>Мы уже доставляем его руководству.</p>
    <hr class="i-size-M"/><a href="/catalog/" class="btn btn-default btn-size-L btn-font-S btn-filled">Перейти в каталог</a>
  </div>
</div>
<!-- end /components/forms.letter/-->