@import '../../styl/component-include.styl'

#catalogDetailWrap
  opacity 0
  transition( opacity .5s ease-in)

.b-catalog-detail

  &__gallery

    &-placeholder
      background-color #f2f2f2
      padding-top 130%

  &__auth-reg
    border 1px solid #9A639A
    padding 30px 40px
    text-align center
    position relative

    .btn
      display inline-block
      width 170px
      border-radius 4px
      font-size 12px
      color #fff
      border none
      line-height 48px
      height 48px
      cursor pointer

      &:hover
        opacity .7

      &:nth-child(1)
        background-color #9A639A

      &:nth-child(2)
        background-color #6C97DD


  &__not-auth

    .btn
      margin 0 15px 10px

    &__text
      width 60%
      margin 0 auto 30px
      font-size 14px
      line-height 16px

      @media(max-width 575px)
        width 100%

    .state2 &
      display none

  &__reg
    position absolute
    opacity 0
    transition( opacity .5s ease-in)
    z-index -1

    .state2 &
      position static
      opacity 1
      z-index 1

    &__text
      margin-bottom 2rem

    &__form
      width 80%
      margin 0 auto

    &__button
      margin 2rem 0

    &__note
      text-align center
      font-size 12px