// start /components/catalog.detail/

link( rel="stylesheet", href="/components/catalog.detail/style.css" )
script( src="/components/catalog.detail/script.js" )

.row

  include ../../modules/catalog-detail-links/include
    
  .col-sm-8
    h1.i-small Мужское зимнее шерстяное пальто VENTUNO BLACK черно-серого цвета
  .col-sm-4.text-right
    a.back-to-catalogue( href="../" ) Вернуться в каталог

#catalogDetailWrap

#catalogDetailNotAuth.row

  .col-sm-6.b-catalog-detail__gallery 
    .b-catalog-detail__gallery-placeholder
    
  hr.visible-xs-block.i-size-L
  
  .col-sm-6

    
  
    .b-catalog-detail__auth-reg

      .b-catalog-detail__not-auth
        .b-catalog-detail__not-auth__text Цены и размерная сетка доступны только зарегистрированным оптовым клиентам.
        .b-catalog-detail__not-auth__buttons
          .btn.btn-default Войти
          a.btn.btn-default( href="/forms/reg/" ) Зарегистрироваться
    
      .b-catalog-detail__reg
        .b-catalog-detail__reg__text Введите ваши регистрационные данные
    
        form( action="/components/catalog.detail/download.html" method="GET" ) 

          .b-catalog-detail__reg__form
        
            .b-float-label
              input#regFormEmail( type="text" name="REGISTER[EMAIL]" value="" autocomplete="on" data-required="true" )
              label( for="regFormEmail" ) Адрес e-mail
              
            hr.i-size-M
          
            .b-float-label
              input#regFormPass( type="password" name="REGISTER[PASSWORD]" value="" autocomplete="off" data-required="true" )
              label( for="regFormPass" ) Пароль

          .b-catalog-detail__reg__button
            .btn.btn-default Войти 

        .b-catalog-detail__reg__note Или
          | 
          a( href="/forms/reg/" ) зарегистрируйтесь.

// end /components/catalog.detail/