doctype html
html( lang="ru" class="bx-no-touch" )
  head
    title Alert | Seller
      
    include ../layouts/includes/meta.jade
    include ../layouts/includes/styles.jade
    include ../layouts/includes/fonts.jade
    include ../layouts/includes/scripts.jade
    
  body

    include ../components/header-alert/template
    include ../components/header_1_6_0_1/template
    
    h1 seller
    
    include ../modules/float-phone/include
    include ../layouts/includes/footer.jade