// start /components/header-alert/

link( rel="stylesheet", href="/components/header-alert/style.css" )
script( src="/components/header-alert/script.js" )
script( src="/components/header-alert/marquee3k.js" )

#headerAlert.marquee3k.slr-marquee
  span Сайт только для оптовых клиентов

// end /components/header-alert/