
<div id="bx-">
  <div class="b-actions-item">
    <div class="b-actions-item__img"><a href=""><span data-original="/upload/actions/1.jpg"></span><span data-original="/upload/actions/1-1.jpg"></span></a><span style="background-color: #ff3333;" class="b-actions-item__label">5% в декабре</span></div>
    <hr/>
    <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка мужская (пуховик)</a></div>
    <div class="b-actions-item__brand"><span>BAZIONI</span><span>Сорт. 123</span><span>23 шт</span></div>
    <div class="b-actions-item__price">
      <div class="row">
        <div class="col-xs-4 i-sale">8 360 руб.
          <s>10 360 руб.</s>
        </div>
        <div class="col-xs-4 i-sale">8 360 руб.
          <s>10 360 руб.</s>
        </div>
        <div class="col-xs-4 i-sale">8 360 руб.
          <s>10 360 руб.</s>
        </div>
      </div>
    </div>
  </div>
</div>