
<div id="bx-">
  <div class="b-actions-item">
    <div class="b-actions-item__img"><a href=""><span data-original="/upload/actions/1.jpg"></span><span data-original="/upload/actions/1-1.jpg"></span></a><span style="background-color: #ff3333;" class="b-actions-item__label">5% в декабре</span>
      <div class="b-actions-item__props-icons">
        <div style="background-color: #FF7146;" class="b-prop">Хит</div>
        <div style="background-color: #68B496;" class="b-prop">Новинка</div>
      </div>
    </div>
    <hr/>
    <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка мужская (пуховик)</a></div>
    <hr class="i-size-S"/>
    <div class="b-actions-item__brand">BAZIONI</div>
    <div class="b-actions-item__price">от 5 190 руб.</div>
    <div class="b-actions-item__amount">21 шт.</div>
  </div>
</div>