
<!-- start /components/sale.personal.menu/-->
<link rel="stylesheet" href="/components/sale.personal.menu/style.css"/>
<script src="/components/sale.personal.menu/script.js"></script>
<div class="b-personal-menu"><span>Личные данные</span><a href="/personal/index.php?SECTION=account">Личный счет</a><a href="/about/contacts/">Контакты</a><a href="/personal/cart/">Корзина</a><a href="/personal/index.php?SECTION=orders">Мои заказы</a><a href="/personal/index.php?SECTION=orders&amp;amp;filter_history=Y">История заказов</a><a href="/personal/index.php?SECTION=profile">Профили заказов</a></div>
<!-- end /components/sale.personal.menu/-->