
<!-- start /components/catalog.recommend/-->
<link rel="stylesheet" href="/components/catalog.recommend/style.css"/>
<script src="/components/catalog.recommend/script.js"></script>
<style>.b-catalog-recommend { height: 300px; overflow: hidden; position: relative;} .b-catalog-recommend:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 300px; background-color: #f2f2f2; z-index: 2; }</style>
<div class="b-catalog-recommend">
  <div class="b-catalog-recommend__title">С этим товаром рекомендуем</div>
  <hr/>
  <div data-slidesperview="3" class="b-catalog-recommend__gallery">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div id="bx-">
            <div class="b-actions-item">
              <div class="b-actions-item__img"><a href=""><span data-background="/upload/actions/1.jpg" class="swiper-lazy"></span><span data-background="/upload/actions/1-1.jpg" class="swiper-lazy"></span></a></div>
              <hr/>
              <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка</a></div>
              <hr class="i-size-S"/>
              <div class="b-actions-item__brand">BAZIONI</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="bx-">
            <div class="b-actions-item">
              <div class="b-actions-item__img"><a href=""><span data-background="/upload/actions/1.jpg" class="swiper-lazy"></span><span data-background="/upload/actions/1-1.jpg" class="swiper-lazy"></span></a></div>
              <hr/>
              <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка</a></div>
              <hr class="i-size-S"/>
              <div class="b-actions-item__brand">BAZIONI</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="bx-">
            <div class="b-actions-item">
              <div class="b-actions-item__img"><a href=""><span data-background="/upload/actions/1.jpg" class="swiper-lazy"></span><span data-background="/upload/actions/1-1.jpg" class="swiper-lazy"></span></a></div>
              <hr/>
              <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка</a></div>
              <hr class="i-size-S"/>
              <div class="b-actions-item__brand">BAZIONI</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="bx-">
            <div class="b-actions-item">
              <div class="b-actions-item__img"><a href=""><span data-background="/upload/actions/1.jpg" class="swiper-lazy"></span><span data-background="/upload/actions/1-1.jpg" class="swiper-lazy"></span></a></div>
              <hr/>
              <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка</a></div>
              <hr class="i-size-S"/>
              <div class="b-actions-item__brand">BAZIONI</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="bx-">
            <div class="b-actions-item">
              <div class="b-actions-item__img"><a href=""><span data-background="/upload/actions/1.jpg" class="swiper-lazy"></span><span data-background="/upload/actions/1-1.jpg" class="swiper-lazy"></span></a></div>
              <hr/>
              <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка</a></div>
              <hr class="i-size-S"/>
              <div class="b-actions-item__brand">BAZIONI</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="bx-">
            <div class="b-actions-item">
              <div class="b-actions-item__img"><a href=""><span data-background="/upload/actions/1.jpg" class="swiper-lazy"></span><span data-background="/upload/actions/1-1.jpg" class="swiper-lazy"></span></a></div>
              <hr/>
              <div class="b-actions-item__title"><a href="">4047 SPW M CORN DK NAVY/Куртка</a></div>
              <hr class="i-size-S"/>
              <div class="b-actions-item__brand">BAZIONI</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<!-- end /components/catalog.recommend/-->