style #catalogDetailPrevLink, #catalogDetailNextLink { display: none; }

a#catalogDetailPrevLink( href="" )
  svg( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" )
    g#arrow-left
      polyline.catalog-detail-svg( points="36.31 44.27 24.04 32 36.31 19.73" )
      
a#catalogDetailNextLink.i-appear( href="" )
  svg( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" )
    g#arrow-right
      polyline.catalog-detail-svg( points="27.69 19.73 39.96 32 27.69 44.27" )
      