// start /components/header_1_6_0_1/

link( rel="stylesheet", href="/components/header_1_6_0_1/style.css" )
script( src="/components/header_1_6_0_1/script.js" )

#sellerHeader_1
  header.bj-page-header.i-load
    section.bj-page-header__top
      .container-fluid
        .row
        
          .col-md-9.col-sm-6.col-xs-6.bj-logo-space
            span.bj-logo
              img( width='143', alt='', src='/template/images/headers/header_1_6_0_1/logo.png', height='40', title='' )
              
              
            span.bj-page-header__search.hidden-xs
              form( action='/catalog/' )
                span.bj-page-header__search-icon( style=" background-image: url( '/template/images/headers/header_1_6_0_1/search.svg' );" )
                input#title-search-input.bj-page-header__search__input.form-control(type='search', name='q', size='23', maxlength='50', autocomplete='off' value='' placeholder="Я ищу..." )
                input(name='s', type='hidden', value='')
              
            .bj-top-nav.hidden-sm.hidden-xs
              a.bj-page-header__menu-link( href="/catalog/" data-category="cat_1" ) Каталог
              a.bj-page-header__menu-link( href="/catalog/" data-category="cat_2" ) Образцы
              a( href="/about/" ) Absolutex
            
            a#nav-button.bj-nav-button.hidden-sm.hidden-xs( href='#' )
              span.bj-menu-icon( style="background-image: url( '/template/images/headers/header_1_6_0_1/menu.svg' );" )
              
          .col-md-3.col-sm-6.col-xs-6
          
            a#nav-button-xs.bj-nav-button.visible-sm-inline-block.visible-xs-inline-block( href='#', data-activates='sideNavPanel' )
              span.bj-menu-icon( style="background-image: url( '/template/images/headers/header_1_6_0_1/menu.svg' );" )
          
            #personal_menu.bj-personal.hidden-xs
              //-button.bj-personal-icon( style="background-image: url( '/template/images/headers/header_1_6_0_1/profile.svg' );" )
              .bj-personal-icon
              
            span#sale-basket-basket-line-container
              a#bx_cat_block.bj-cart-icon( href="/personal/cart/" )
                span.b-shopping-cart( style=" background-image: url( '/template/images/headers/header_1_6_0_1/basket.svg' );" )
                span#bx_cat_num.bj-cart-icon__num 0
            
            span.bj-search-icon.hidden-xs
              span( style=" background-image: url( '/template/images/headers/header_1_6_0_1/search.svg' );" )
                
            a.bj-earphone-icon(href='#', data-toggle='modal', data-target='#myModal' )
              span( style="background-image: url( '/template/images/headers/header_1_6_0_1/phone.svg' );" )
            
            .bj-page-header__search-close
            
    section.bj-page-header__sub
      .container-fluid
        .bj-page-header__sub-wrapper
        
          //- a.bj-page-header__menu-link( href="" ) Каталог
          a( href="" ) Поиск
          a( href="" ) О магазине
          a( href="" ) Новости
          a( href="" ) Контакты
          a( href="" ) Как купить
          a( href="" ) Оплата
          a( href="" ) Доставка
          a( href="" ) Гарантии
        
          
    include header-dropdown
    
    section#cartDropdown.bj-page-header__cart-dropdown( data-url="/template/cart-droprown-ajax.html" data-method="GET" )
      .i-relative
          article
            .container-fluid
            .progress
              .indeterminate
    
    include header-user-dropdown
            
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
            |                   
            h2#myModalLabel.modal-title.text-center Наш телефон
          |                 
          .modal-body.text-center
            .bj-text-x-large 8 (495) 212 85 06
            |                   
            .small &Pcy;&ncy;-&Vcy;&scy; 10-19
          |                 
          .modal-footer.text-center(style='display:none')
            button.btn.btn-default(type='button') Заказать звонок
          
    section.bj-page-header__submenu
      .container-fluid
          
        script( src="/template/libs/swiper.min.js" )
        link( rel="stylesheet" href="/template/libs/swiper.min.css" )
        
        .swiper-container 
          .swiper-wrapper 
            a.swiper-slide( href="" ) Верхняя одежда
            a.swiper-slide( href="" ) Пальто
            a.swiper-slide( href="" ) Костюмы
            a.swiper-slide( href="" ) Пиджаки, жилеты
            a.swiper-slide( href="" ) Куртки
            a.swiper-slide( href="" ) Брюки
            a.swiper-slide( href="" ) Сорочки, рубашки, манишки
            
          .swiper-shadow
          
        .bj-page-header__submenu__line
  
ul#sideNavPanel.side-nav
  li.logo
    span.bj-logo
      img(width='143', alt='', src='', height='40', title='')
  li.no-padding
    .media
      .media-body
        ul
          li
            a(href='/personal/') admin admin
          li
            a(href='/?logout=yes') Выйти
      .media-right
        a(href='/personal/')
          img(src='', width='64', height='48')
  li.no-padding
    ul
      li
        a(href='/personal/cart/')
          | Корзина 
          span.badge 3
      li
        a(href='/personal/index.php?SECTION=orders') Мои заказы
  li.no-padding
    ul
      li
        a(href='/search/') Поиск
      li
        a.bj-page-header__menu-link(href='/catalog/') Каталог
      li
        a(href='/campaign/') Акции
      li
        a(href='/journal/') Журнал
      li
        a(href='/lookbook/') LookBook
      li
        a(href='/about/') О магазине
      li
        a(href='/news/') Новости
      li
        a(href='/about/contacts/') Контакты
      li
        a(href='/about/vacancies/') Вакансии
      li
        a(href='/about/howto/') Как купить
      li
        a(href='/payment/') Оплата
      li
        a(href='/about/delivery/') Доставка
      li
        a(href='/about/guaranty/') Гарантии
        
include ../../components/tuner/button

// end /components/header_1_6_0_1/