link( rel="stylesheet" href="/template/libs/materialize.min.css" )
link( rel="stylesheet" href="/template/libs/bootstrap.min.css" )
link( rel="stylesheet" href="/template/libs/bootstrap-theme.min.css" )
link( rel="stylesheet" href="/template/libs/jquery-ui.min.css" )
link( rel="stylesheet" href="/template/libs/jquery-ui.structure.min.css" )
link( rel="stylesheet" href="/template/libs/jquery-ui.theme.min.css" )