
<link rel="stylesheet" href="/components/catalog.detail/download.css"/>
<!--Минимальная цена указывается в самом диве. Показывается если ничего не выбрано-->
<div data-price-1="1 300 руб." data-price-2="1 300 руб." data-price-3="14 257 руб." data-price-4="14 257 руб." class="b-catalog-detail__info i-1">
  <div class="b-catalog-detail__action">Участвует в акции «Название акции 5%»</div>
  <div class="b-catalog-detail__action b-catalog-detail__action--comment">На большие размеры наценка 500 рублей (начиная с 58-го и выше)</div>
  <div class="b-catalog-detail__heading"><span>Выбирайте удобную для себя программу</span></div>
  <div class="b-catalog-detail__prices">
    <div class="b-catalog-detail__prices-item">
      <input id="catalogDetailPricesInput1" type="radio" name="price" value="1" checked="checked"/>
      <label for="catalogDetailPricesInput1">
        <h5>Рассрочка</h5>
        <div class="b-catalog-detail__price">14 257 &#8381;</div>
      </label>
    </div>
    <div class="b-catalog-detail__prices-item">
      <input id="catalogDetailPricesInput2" type="radio" name="price" value="2"/>
      <label for="catalogDetailPricesInput2">
        <h5>Выкуп</h5>
        <div class="b-catalog-detail__price i-sale">12 257 &#8381;</div>
        <s>6 420 &#8381;</s>
      </label>
    </div>
    <div class="b-catalog-detail__prices-item">
      <input id="catalogDetailPricesInput3" type="radio" name="price" value="3"/>
      <label for="catalogDetailPricesInput3">
        <h5>Акция</h5>
        <div class="b-catalog-detail__price">10 257 &#8381;</div>
      </label>
    </div>
  </div>
  <div class="b-catalog-detail__heading"><span>Выбирайте один или несколько размеров</span></div>
  <hr/>
  <div class="b-catalog-detail__sizes">
    <div class="b-catalog-detail__sizes-row">
      <div data-qty="10" data-price="1400 руб." data-discount="110 руб." data-oldprice="1510 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>44</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="1500 руб." data-discount="120 руб." data-oldprice="1620 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>46</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="1600 руб." data-discount="130 руб." data-oldprice="1730 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>48</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="1700 руб." data-discount="140 руб." data-oldprice="1840 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>50</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="1800 руб." data-discount="150 руб." data-oldprice="1950 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>52</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="1900 руб." data-discount="160 руб." data-oldprice="2060 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>54</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2000 руб." data-discount="170 руб." data-oldprice="2170 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>56</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2100 руб." data-discount="180 руб." data-oldprice="2280 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>58</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2200 руб." data-discount="190 руб." data-oldprice="2390 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>60</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2300 руб." data-discount="200 руб." data-oldprice="2500 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>62</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2400 руб." data-discount="210 руб." data-oldprice="2610 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>64</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2500 руб." data-discount="220 руб." data-oldprice="2720 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>66</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2600 руб." data-discount="230 руб." data-oldprice="2830 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>68</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2700 руб." data-discount="240 руб." data-oldprice="2940 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>70</div>
        <div>164</div>
      </div>
      <div data-qty="10" data-price="2800 руб." data-discount="250 руб." data-oldprice="3050 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>72</div>
        <div>164</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-qty="10" data-price="2900 руб." data-discount="260 руб." data-oldprice="3160 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>44</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3000 руб." data-discount="270 руб." data-oldprice="3270 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>46</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3100 руб." data-discount="280 руб." data-oldprice="3380 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>48</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3200 руб." data-discount="290 руб." data-oldprice="3490 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>50</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3300 руб." data-discount="300 руб." data-oldprice="3600 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>52</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3400 руб." data-discount="310 руб." data-oldprice="3710 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>54</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3500 руб." data-discount="320 руб." data-oldprice="3820 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>56</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3600 руб." data-discount="330 руб." data-oldprice="3930 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>58</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3700 руб." data-discount="340 руб." data-oldprice="4040 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>60</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3800 руб." data-discount="350 руб." data-oldprice="4150 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>62</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="3900 руб." data-discount="360 руб." data-oldprice="4260 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>64</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="4000 руб." data-discount="370 руб." data-oldprice="4370 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>66</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="4100 руб." data-discount="380 руб." data-oldprice="4480 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>68</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="4200 руб." data-discount="390 руб." data-oldprice="4590 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>70</div>
        <div>170</div>
      </div>
      <div data-qty="10" data-price="4300 руб." data-discount="400 руб." data-oldprice="4700 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>72</div>
        <div>170</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-qty="10" data-price="4400 руб." data-discount="410 руб." data-oldprice="4810 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>44</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="4500 руб." data-discount="420 руб." data-oldprice="4920 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>46</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="4600 руб." data-discount="430 руб." data-oldprice="5030 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>48</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="4700 руб." data-discount="440 руб." data-oldprice="5140 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>50</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="4800 руб." data-discount="450 руб." data-oldprice="5250 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>52</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="4900 руб." data-discount="460 руб." data-oldprice="5360 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>54</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5000 руб." data-discount="470 руб." data-oldprice="5470 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>56</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5100 руб." data-discount="480 руб." data-oldprice="5580 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>58</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5200 руб." data-discount="490 руб." data-oldprice="5690 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>60</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5300 руб." data-discount="500 руб." data-oldprice="5800 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>62</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5400 руб." data-discount="510 руб." data-oldprice="5910 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>64</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5500 руб." data-discount="520 руб." data-oldprice="6020 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>66</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5600 руб." data-discount="530 руб." data-oldprice="6130 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>68</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5700 руб." data-discount="540 руб." data-oldprice="6240 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>70</div>
        <div>176</div>
      </div>
      <div data-qty="10" data-price="5800 руб." data-discount="550 руб." data-oldprice="6350 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>72</div>
        <div>176</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-qty="10" data-price="5900 руб." data-discount="560 руб." data-oldprice="6460 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>44</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6000 руб." data-discount="570 руб." data-oldprice="6570 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>46</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6100 руб." data-discount="580 руб." data-oldprice="6680 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>48</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6200 руб." data-discount="590 руб." data-oldprice="6790 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>50</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6300 руб." data-discount="600 руб." data-oldprice="6900 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>52</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6400 руб." data-discount="610 руб." data-oldprice="7010 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>54</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6500 руб." data-discount="620 руб." data-oldprice="7120 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>56</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6600 руб." data-discount="630 руб." data-oldprice="7230 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>58</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6700 руб." data-discount="640 руб." data-oldprice="7340 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>60</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6800 руб." data-discount="650 руб." data-oldprice="7450 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>62</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="6900 руб." data-discount="660 руб." data-oldprice="7560 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>64</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="7000 руб." data-discount="670 руб." data-oldprice="7670 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>66</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="7100 руб." data-discount="680 руб." data-oldprice="7780 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>68</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="7200 руб." data-discount="690 руб." data-oldprice="7890 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>70</div>
        <div>182</div>
      </div>
      <div data-qty="10" data-price="7300 руб." data-discount="700 руб." data-oldprice="8000 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>72</div>
        <div>182</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-qty="10" data-price="7400 руб." data-discount="710 руб." data-oldprice="8110 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>44</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="7500 руб." data-discount="720 руб." data-oldprice="8220 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>46</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="7600 руб." data-discount="730 руб." data-oldprice="8330 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>48</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="7700 руб." data-discount="740 руб." data-oldprice="8440 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>50</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="7800 руб." data-discount="750 руб." data-oldprice="8550 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>52</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="7900 руб." data-discount="760 руб." data-oldprice="8660 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>54</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8000 руб." data-discount="770 руб." data-oldprice="8770 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>56</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8100 руб." data-discount="780 руб." data-oldprice="8880 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>58</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8200 руб." data-discount="790 руб." data-oldprice="8990 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>60</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8300 руб." data-discount="800 руб." data-oldprice="9100 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>62</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8400 руб." data-discount="810 руб." data-oldprice="9210 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>64</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8500 руб." data-discount="820 руб." data-oldprice="9320 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>66</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8600 руб." data-discount="830 руб." data-oldprice="9430 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>68</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8700 руб." data-discount="840 руб." data-oldprice="9540 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>70</div>
        <div>188</div>
      </div>
      <div data-qty="10" data-price="8800 руб." data-discount="850 руб." data-oldprice="9650 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>72</div>
        <div>188</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-qty="10" data-price="8900 руб." data-discount="860 руб." data-oldprice="9760 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>44</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9000 руб." data-discount="870 руб." data-oldprice="9870 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>46</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9100 руб." data-discount="880 руб." data-oldprice="9980 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>48</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9200 руб." data-discount="890 руб." data-oldprice="10090 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>50</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9300 руб." data-discount="900 руб." data-oldprice="10200 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>52</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9400 руб." data-discount="910 руб." data-oldprice="10310 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>54</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9500 руб." data-discount="920 руб." data-oldprice="10420 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>56</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9600 руб." data-discount="930 руб." data-oldprice="10530 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>58</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9700 руб." data-discount="940 руб." data-oldprice="10640 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>60</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9800 руб." data-discount="950 руб." data-oldprice="10750 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>62</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="9900 руб." data-discount="960 руб." data-oldprice="10860 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>64</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="10000 руб." data-discount="970 руб." data-oldprice="10970 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>66</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="10100 руб." data-discount="980 руб." data-oldprice="11080 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>68</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="10200 руб." data-discount="990 руб." data-oldprice="11190 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>70</div>
        <div>194</div>
      </div>
      <div data-qty="10" data-price="10300 руб." data-discount="1000 руб." data-oldprice="11300 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>72</div>
        <div>194</div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <div class="b-catalog-detail__order">
        Вы выбрали
         <span class="b-catalog-detail__order-num">9 размеров</span>
      </div>
    </div>
    <div class="col-sm-6"><a href="" data-ajax-url="/components/catalog.detail/response.json" data-ajax-method="GET" data-toggle="modal" data-target="#cartModal" class="btn btn-default btn-size-L bj-cart-button btn-100 i-disabled">Добавить в корзину</a>
      <div id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button>
              <h4 id="cartModalLabel" class="modal-title">
                Вы выбрали
                 <span id="cartModalLabelNum">9 размеров</span>
              </h4>
            </div>
            <div class="modal-footer popup-window-buttons"><span class="bx_item_detail bx_blue"><span style="margin-right: 10px;" data-dismiss="modal" class="bx_medium bx_bt_button">Продолжить выбор</span></span><span class="bx_item_detail bx_blue"><a href="/cart/" class="bx_medium bx_bt_button">Перейти в корзину</a></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<div data-price="1 300 руб." data-discount="1 300 руб." data-oldprice="14 257 руб." class="b-catalog-detail__info i-2">
  <div class="row">
    <div class="col-xs-3 b-catalog-detail__old-price">
      <h5>Старая цена</h5>
      <s>14 257 руб.</s>
    </div>
    <div class="col-xs-3 b-catalog-detail__discount">
      <h5>Выгода</h5><span>1 300 руб.</span>
    </div>
    <div class="col-xs-6 text-right">
      <div class="b-catalog-detail__price">1 300 руб.</div>
    </div>
  </div>
  <hr class="i-size-M i-line"/>
  <div class="b-catalog-detail__sizes">
    <div class="b-catalog-detail__sizes-row">
      <div data-price="5100 руб." data-discount="510 руб." data-oldprice="5610 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>37</div>
        <div>170-176</div>
      </div>
      <div data-price="5200 руб." data-discount="520 руб." data-oldprice="5720 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>39</div>
        <div>170-176</div>
      </div>
      <div data-price="5300 руб." data-discount="530 руб." data-oldprice="5830 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>41</div>
        <div>170-176</div>
      </div>
      <div data-price="5400 руб." data-discount="540 руб." data-oldprice="5940 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>43</div>
        <div>170-176</div>
      </div>
      <div data-price="5500 руб." data-discount="550 руб." data-oldprice="6050 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>45</div>
        <div>170-176</div>
      </div>
      <div data-price="5600 руб." data-discount="560 руб." data-oldprice="6160 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>47</div>
        <div>170-176</div>
      </div>
      <div data-price="5700 руб." data-discount="570 руб." data-oldprice="6270 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>49</div>
        <div>170-176</div>
      </div>
      <div data-price="5800 руб." data-discount="580 руб." data-oldprice="6380 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>51</div>
        <div>170-176</div>
      </div>
      <div data-price="5900 руб." data-discount="590 руб." data-oldprice="6490 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>53</div>
        <div>170-176</div>
      </div>
      <div data-price="6000 руб." data-discount="600 руб." data-oldprice="6600 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>55</div>
        <div>170-176</div>
      </div>
      <div data-price="6100 руб." data-discount="610 руб." data-oldprice="6710 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>57</div>
        <div>170-176</div>
      </div>
      <div data-price="6200 руб." data-discount="620 руб." data-oldprice="6820 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>59</div>
        <div>170-176</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-price="6300 руб." data-discount="630 руб." data-oldprice="6930 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>37</div>
        <div>176-182</div>
      </div>
      <div data-price="6400 руб." data-discount="640 руб." data-oldprice="7040 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>39</div>
        <div>176-182</div>
      </div>
      <div data-price="6500 руб." data-discount="650 руб." data-oldprice="7150 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>41</div>
        <div>176-182</div>
      </div>
      <div data-price="6600 руб." data-discount="660 руб." data-oldprice="7260 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>43</div>
        <div>176-182</div>
      </div>
      <div data-price="6700 руб." data-discount="670 руб." data-oldprice="7370 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>45</div>
        <div>176-182</div>
      </div>
      <div data-price="6800 руб." data-discount="680 руб." data-oldprice="7480 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>47</div>
        <div>176-182</div>
      </div>
      <div data-price="6900 руб." data-discount="690 руб." data-oldprice="7590 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>49</div>
        <div>176-182</div>
      </div>
      <div data-price="7000 руб." data-discount="700 руб." data-oldprice="7700 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>51</div>
        <div>176-182</div>
      </div>
      <div data-price="7100 руб." data-discount="710 руб." data-oldprice="7810 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>53</div>
        <div>176-182</div>
      </div>
      <div data-price="7200 руб." data-discount="720 руб." data-oldprice="7920 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>55</div>
        <div>176-182</div>
      </div>
      <div data-price="7300 руб." data-discount="730 руб." data-oldprice="8030 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>57</div>
        <div>176-182</div>
      </div>
      <div data-price="7400 руб." data-discount="740 руб." data-oldprice="8140 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>59</div>
        <div>176-182</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-price="7500 руб." data-discount="750 руб." data-oldprice="8250 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>37</div>
        <div>182-188</div>
      </div>
      <div data-price="7600 руб." data-discount="760 руб." data-oldprice="8360 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>39</div>
        <div>182-188</div>
      </div>
      <div data-price="7700 руб." data-discount="770 руб." data-oldprice="8470 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>41</div>
        <div>182-188</div>
      </div>
      <div data-price="7800 руб." data-discount="780 руб." data-oldprice="8580 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>43</div>
        <div>182-188</div>
      </div>
      <div data-price="7900 руб." data-discount="790 руб." data-oldprice="8690 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>45</div>
        <div>182-188</div>
      </div>
      <div data-price="8000 руб." data-discount="800 руб." data-oldprice="8800 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>47</div>
        <div>182-188</div>
      </div>
      <div data-price="8100 руб." data-discount="810 руб." data-oldprice="8910 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>49</div>
        <div>182-188</div>
      </div>
      <div data-price="8200 руб." data-discount="820 руб." data-oldprice="9020 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>51</div>
        <div>182-188</div>
      </div>
      <div data-price="8300 руб." data-discount="830 руб." data-oldprice="9130 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>53</div>
        <div>182-188</div>
      </div>
      <div data-price="8400 руб." data-discount="840 руб." data-oldprice="9240 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>55</div>
        <div>182-188</div>
      </div>
      <div data-price="8500 руб." data-discount="850 руб." data-oldprice="9350 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>57</div>
        <div>182-188</div>
      </div>
      <div data-price="8600 руб." data-discount="860 руб." data-oldprice="9460 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>59</div>
        <div>182-188</div>
      </div>
    </div>
    <div class="b-catalog-detail__sizes-row">
      <div data-price="8700 руб." data-discount="870 руб." data-oldprice="9570 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>37</div>
        <div>188-194</div>
      </div>
      <div data-price="8800 руб." data-discount="880 руб." data-oldprice="9680 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>39</div>
        <div>188-194</div>
      </div>
      <div data-price="8900 руб." data-discount="890 руб." data-oldprice="9790 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>41</div>
        <div>188-194</div>
      </div>
      <div data-price="9000 руб." data-discount="900 руб." data-oldprice="9900 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>43</div>
        <div>188-194</div>
      </div>
      <div data-price="9100 руб." data-discount="910 руб." data-oldprice="10010 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>45</div>
        <div>188-194</div>
      </div>
      <div data-price="9200 руб." data-discount="920 руб." data-oldprice="10120 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>47</div>
        <div>188-194</div>
      </div>
      <div data-price="9300 руб." data-discount="930 руб." data-oldprice="10230 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>49</div>
        <div>188-194</div>
      </div>
      <div data-price="9400 руб." data-discount="940 руб." data-oldprice="10340 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>51</div>
        <div>188-194</div>
      </div>
      <div data-price="9500 руб." data-discount="950 руб." data-oldprice="10450 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>53</div>
        <div>188-194</div>
      </div>
      <div data-price="9600 руб." data-discount="960 руб." data-oldprice="10560 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>55</div>
        <div>188-194</div>
      </div>
      <div data-price="9700 руб." data-discount="970 руб." data-oldprice="10670 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>57</div>
        <div>188-194</div>
      </div>
      <div data-price="9800 руб." data-discount="980 руб." data-oldprice="10780 руб." data-id="NaN" class="b-catalog-detail__sizes-item">
        <div>59</div>
        <div>188-194</div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <div class="b-catalog-detail__order">
        Вы выбрали
         <span class="b-catalog-detail__order-num">9 размеров</span>
      </div>
    </div>
    <div class="col-sm-6"><a href="" data-ajax-url="/components/catalog.detail/response.json" data-ajax-method="GET" data-toggle="modal" data-target="#cartModal" class="btn btn-default btn-size-L bj-cart-button btn-100 i-disabled">Добавить в корзину</a></div>
  </div>
</div>
<hr/>
<div data-price="1 300 руб." data-discount="1 300 руб." data-oldprice="14 257 руб." class="b-catalog-detail__info i-3">
  <div class="row">
    <div class="col-xs-3 b-catalog-detail__old-price">
      <h5>Старая цена</h5>
      <s>14 257 руб.</s>
    </div>
    <div class="col-xs-3 b-catalog-detail__discount">
      <h5>Выгода</h5><span>1 300 руб.</span>
    </div>
    <div class="col-xs-6 text-right">
      <div class="b-catalog-detail__price i-sale">1 300 руб.</div>
    </div>
  </div>
  <hr class="i-size-M i-line"/>
  <div class="b-catalog-detail__sizes">
    <div class="b-catalog-detail__sizes-row">
      <div data-price="1000 руб." data-discount="500 руб." data-oldprice="1500 руб." data-id="NaN" class="b-catalog-detail__sizes-item">XXS</div>
      <div data-price="1000 руб." data-discount="500 руб." data-oldprice="1500 руб." data-id="NaN" class="b-catalog-detail__sizes-item">XS</div>
      <div data-price="2000 руб." data-discount="600 руб." data-oldprice="2600 руб." data-id="NaN" class="b-catalog-detail__sizes-item">S</div>
      <div data-price="3000 руб." data-discount="700 руб." data-oldprice="3700 руб." data-id="NaN" class="b-catalog-detail__sizes-item">M</div>
      <div data-price="4000 руб." data-discount="800 руб." data-oldprice="4800 руб." data-id="NaN" class="b-catalog-detail__sizes-item">L</div>
      <div data-price="5000 руб." data-discount="900 руб." data-oldprice="5900 руб." data-id="NaN" class="b-catalog-detail__sizes-item">XL</div>
      <div data-price="6000 руб." data-discount="1000 руб." data-oldprice="7000 руб." data-id="NaN" class="b-catalog-detail__sizes-item">XXL</div>
      <div data-price="6000 руб." data-discount="1000 руб." data-oldprice="7000 руб." data-id="NaN" class="b-catalog-detail__sizes-item">XXXL</div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <div class="b-catalog-detail__order">
        Вы выбрали
         <span class="b-catalog-detail__order-num">9 размеров</span>
      </div>
    </div>
    <div class="col-sm-6"><a href="" data-ajax-url="/components/catalog.detail/response.json" data-ajax-method="GET" data-toggle="modal" data-target="#cartModal" class="btn btn-default btn-size-L bj-cart-button btn-100 i-disabled">Добавить в корзину</a></div>
  </div>
</div>