
<!-- start /components/catalog.detail/-->
<link rel="stylesheet" href="/components/catalog.detail/style.css"/>
<script src="/components/catalog.detail/script.js"></script>
<div class="row">
  <style>#catalogDetailPrevLink, #catalogDetailNextLink { display: none; }</style><a id="catalogDetailPrevLink" href="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
      <g id="arrow-left">
        <polyline points="36.31 44.27 24.04 32 36.31 19.73" class="catalog-detail-svg"></polyline>
      </g>
    </svg></a><a id="catalogDetailNextLink" href="" class="i-appear">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
      <g id="arrow-right">
        <polyline points="27.69 19.73 39.96 32 27.69 44.27" class="catalog-detail-svg"></polyline>
      </g>
    </svg></a>
  <div class="col-sm-8">
    <h1 class="i-small">Мужское зимнее шерстяное пальто VENTUNO BLACK черно-серого цвета</h1>
  </div>
  <div class="col-sm-4 text-right"><a href="../" class="back-to-catalogue">Вернуться в каталог</a></div>
</div>
<div id="catalogDetailWrap"></div>
<div id="catalogDetailNotAuth" class="row">
  <div class="col-sm-6 b-catalog-detail__gallery"> 
    <div class="b-catalog-detail__gallery-placeholder"></div>
  </div>
  <hr class="visible-xs-block i-size-L"/>
  <div class="col-sm-6">
    <div class="b-catalog-detail__auth-reg">
      <div class="b-catalog-detail__not-auth">
        <div class="b-catalog-detail__not-auth__text">Цены и размерная сетка доступны только зарегистрированным оптовым клиентам.</div>
        <div class="b-catalog-detail__not-auth__buttons">
          <div class="btn btn-default">Войти</div><a href="/forms/reg/" class="btn btn-default">Зарегистрироваться</a>
        </div>
      </div>
      <div class="b-catalog-detail__reg">
        <div class="b-catalog-detail__reg__text">Введите ваши регистрационные данные</div>
        <form action="/components/catalog.detail/download.html" method="GET"> 
          <div class="b-catalog-detail__reg__form">
            <div class="b-float-label">
              <input id="regFormEmail" type="text" name="REGISTER[EMAIL]" value="" autocomplete="on" data-required="true"/>
              <label for="regFormEmail">Адрес e-mail</label>
            </div>
            <hr class="i-size-M"/>
            <div class="b-float-label">
              <input id="regFormPass" type="password" name="REGISTER[PASSWORD]" value="" autocomplete="off" data-required="true"/>
              <label for="regFormPass">Пароль</label>
            </div>
          </div>
          <div class="b-catalog-detail__reg__button">
            <div class="btn btn-default">Войти </div>
          </div>
        </form>
        <div class="b-catalog-detail__reg__note">
          Или
           <a href="/forms/reg/">зарегистрируйтесь.</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.detail/-->