@import '../../styl/component-include.styl'

#profile-list

  .table>tbody>tr.tr--hoverable
    transition( background-color .3s ease-out )
    cursor pointer

    &:hover
      background-color #FEFAFF

  .table>tbody>tr>td
    border-bottom 1px solid #f3f3f3
    border-top 1px solid #f3f3f3
    padding 25px 0 25px 35px
    vertical-align middle

    @media(max-width 575px)
      padding 20px
      line-height 1.2

      &:nth-child(2)
        padding-left 0
        border-right 1px solid #f3f3f3

    a,
    span
      display flex
      align-items center
      vertical-align top

      @media(max-width 575px)
        display block

      i
        margin-right 20px
        flex-shrink 0

      em
        font-style normal

        @media(max-width 575px)
          display block

    i
      display inline-block
      width 16px
      height 16px
      background no-repeat center
      background-size 16px 16px

      @media(max-width 575px)
        display none

    &:first-child
      width 50%
      border-left 1px solid #f3f3f3

      @media(max-width 991px)
        width 35%

      @media(max-width 575px)
        width 50%

    &:last-child
      padding 25px 35px 25px 0
      border-right 1px solid #f3f3f3
      text-align right

      @media(max-width 575px)
        display none

  .button
    display inline-block
    padding 0 25px
    border-radius 4px
    background-color #9A639A
    color #fff
    font-size 12px
    transition( opacity .3s ease-out )
    line-height 48px
    height 48px
    cursor pointer

    &:hover
      opacity .7