// start /components/sale.personal.profile.list/

link( rel="stylesheet", href="/components/sale.personal.profile.list/style.css" )
script( src="/components/sale.personal.profile.list/script.js" )

#profile-list
  table.table
    tbody
      tr.tr--hoverable
        td ООО «Твин пикс»
        td
          a( href="" )
            i.i--doc( style="background-image: url(/components/sale.personal.profile.list/img/doc.svg)")
            em Ваш договор:
              | 
              em С09092021-12
        td
          i.i--edit( style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)")
      tr.tr--hoverable
        td ООО «Твин пикс»
        td
          a( href="" )
            i.i--doc( style="background-image: url(/components/sale.personal.profile.list/img/doc.svg)")
            em Ваш договор:
              | 
              em С09092021-12
        td
          i.i--edit( style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)")
      tr 
        td ООО «Твин пикс»
        td
          span
            i.i--time( style="background-image: url(/components/sale.personal.profile.list/img/time.svg)")
            | Ваш договор готовится
        td
          i.i--edit( style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)")
      tr.tr--hoverable
        td ООО «Твин пикс»
        td
          a( href="" )
            i.i--doc( style="background-image: url(/components/sale.personal.profile.list/img/doc.svg)")
            em Ваш договор:
              | 
              em С09092021-12
        td
          i.i--edit( style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)")

  hr

  a.button.button-default( href="" ) Добавить компанию

// end /components/sale.personal.profile.list/