.bx_catalog_item.double
  #bx_3129597777_1626874.bx_catalog_item_container
    .bj-product-card__wrapper
      // bj-product-card__img__shutter
      .i-relative
        .bj-product-card__info
          span.bj-product-card__info__i.i-new
      style.
        .bj-product-card__info-label {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 990;
        bottom: auto;
        margin-left: 0;
        background: #9900cc;
        height: 32px;
        color: #fff;
        padding: 0;
        line-height: 32px;
        text-align: inherit;
        border-radius: 16px;
        padding: 0 17px;
        font-size: 8pt;
        min-width: 90px;
        text-align: center;
        }
      span.bj-product-card__img__shutter
        a.bj-product-card__img__shutter__link(href="/catalog/4076sp_grant_corn_charcoal_kurtka_muzhskaya_pukhovik/?ajax=y")
        //
          span class="bj-product-card__img__shutter__inner">
          <span class="btn btn-default btn-size-L btn-100 btn-inverse b-show-element-detail hidden-xs" href="/catalog/4076sp_grant_corn_charcoal_kurtka_muzhskaya_pukhovik/?ajax=y" rel="nofollow" data-toggle="modal" data-target="#modal_1626874">Посмотреть</span>
          </span
      a(href="/catalog/4076sp_grant_corn_charcoal_kurtka_muzhskaya_pukhovik/")
        i
      a#bx_3129597777_1626874_pict.bx_catalog_item_images(href="/catalog/4076sp_grant_corn_charcoal_kurtka_muzhskaya_pukhovik/" data-original="/upload/resize_cache/iblock/052/370_650_1/0525d34a0f0de1a71d8a0c994f797f96.JPG" style="background-image: url(/upload/resize_cache/iblock/052/370_650_1/0525d34a0f0de1a71d8a0c994f797f96.JPG);" title="картинка 4076СП GRANT CORN CHARCOAL/Куртка мужская (пуховик) магазин Seller являющийся официальным дистрибьютором в России ")
      a#bx_3129597777_1626874_secondpict.bx_catalog_item_images_double(href="/catalog/4076sp_grant_corn_charcoal_kurtka_muzhskaya_pukhovik/" data-original="/upload/resize_cache/iblock/b54/370_650_1/b5496d679d53dbbf75255e0ebd407945.JPG" style="background-image: url(/upload/resize_cache/iblock/b54/370_650_1/b5496d679d53dbbf75255e0ebd407945.JPG);" title="картинка 4076СП GRANT CORN CHARCOAL/Куртка мужская (пуховик) магазин Seller являющийся официальным дистрибьютором в России ")
    .bj-product-card__wrapper
      .bj-product-card__title.bj-table.bx_catalog_item_title
        .bj-table-row
          .bj-table-cell
            span.bj-product-card__title__wrapper
              a(title="4076СП GRANT CORN CHARCOAL/Куртка мужская (пуховик)" href="/catalog/4076sp_grant_corn_charcoal_kurtka_muzhskaya_pukhovik/") 4076СП
    .row.bj-product-card__cart
      i BAZIONI
      i 13шт.
      hr.i-size-S
      .text-center.bj-product-card__price.bj-price.bx_catalog_item_price
        #bx_3129597777_1626874_price.text-large.bx_price
          | 6 880 руб.
