// start /components/catalog.recommend/

link( rel="stylesheet", href="/components/catalog.recommend/style.css" )
script( src="/components/catalog.recommend/script.js" )

style
  | .b-catalog-recommend { height: 300px; overflow: hidden; position: relative;} .b-catalog-recommend:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 300px; background-color: #f2f2f2; z-index: 2; }

.b-catalog-recommend

  .b-catalog-recommend__title С этим товаром рекомендуем
  
  hr
  
  .b-catalog-recommend__gallery( data-slidesperview="6" )
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          include ../../components/actions/element-catalog-swiper.jade
        .swiper-slide
          include ../../components/actions/element-catalog-swiper.jade
        .swiper-slide
          include ../../components/actions/element-catalog-swiper.jade
        .swiper-slide
          include ../../components/actions/element-catalog-swiper.jade
        .swiper-slide
          include ../../components/actions/element-catalog-swiper.jade
    .swiper-button-next
    .swiper-button-prev
    
  .b-catalog-recommend__gallery(data-slidesperview="6" data-entity="container-")
    .swiper-container
      .swiper-wrapper
        #bx_1970176138_1638417_4ab978e8bec606ce72388dc8980b7e26.swiper-slide(data-entity="item")
          div
            .b-actions-item
              .b-actions-item__img
                a(href="/catalog/2024_1m_cell_dk_navy_palto_muzhskoe/" title="картинка 2024-1M CELL DK NAVY/ ПАЛЬТО МУЖСКОЕ магазин Seller являющийся официальным дистрибьютором в России ")
                  span.swiper-lazy(data-background="/upload/iblock/dc5/dc515ad20508936c3ccf492d104b2d5e.jpg")
                  span.swiper-lazy(data-background="/upload/iblock/bc4/bc44b613e781af67d3b5e44801fd92b3.jpg")
              hr
              .b-actions-item__title
                a(href="/catalog/2024_1m_cell_dk_navy_palto_muzhskoe/") 2024-1M CELL DK NAVY/ ПАЛЬТО МУЖСКОЕ
              hr.i-size-S
              .b-actions-item__brand BAZIONI
        #bx_1970176138_1648927_f5e07bd0ab70548a3db9e6f096af74cd.swiper-slide(data-entity="item")
          div
            .b-actions-item
              .b-actions-item__img
                a(href="/catalog/3024_1_m_grits_navy_l_plashch_muzhskoy_uteplennyy/" title="картинка 3024-1 M GRITS NAVY L/ Плащ мужской (утепленный) магазин Seller являющийся официальным дистрибьютором в России ")
                  span.swiper-lazy(data-background="/upload/iblock/fbc/fbc5011b553f639ed11ebf1089aafd3f.jpg")
                  span.swiper-lazy(data-background="/upload/iblock/ed7/ed772fed6b3b33437624191cc8fa2a34.jpg")
              hr
              .b-actions-item__title
                a(href="/catalog/3024_1_m_grits_navy_l_plashch_muzhskoy_uteplennyy/") 3024-1 M GRITS NAVY L/ Плащ мужской (утепленный)
              hr.i-size-S
              .b-actions-item__brand LAСONI
        #bx_1970176138_1650222_0564dce275e0399e557aae3bf75c32cd.swiper-slide(data-entity="item")
          div
            .b-actions-item
              .b-actions-item__img
                a(href="/catalog/1018_m_night_navy_plashch_muzhskoy/" title="картинка 1018 M NIGHT NAVY/  Плащ мужской магазин Seller являющийся официальным дистрибьютором в России ")
                  span.swiper-lazy(data-background="/upload/iblock/658/6584d87c1cdd3f3a22e3d6b2ff3d2b56.jpg")
                  span.swiper-lazy(data-background="/upload/iblock/f7d/f7d9b9ab4dc8298441cbb67addd0f7a3.jpg")
              hr
              .b-actions-item__title
                a(href="/catalog/1018_m_night_navy_plashch_muzhskoy/") 1018 M NIGHT NAVY/  Плащ мужской
              hr.i-size-S
              .b-actions-item__brand BAZIONI
        #bx_1970176138_1026542_e25276d42f9f12765bf154b9be365c24.swiper-slide(data-entity="item")
          div
            .b-actions-item
              .b-actions-item__img
                a(href="/catalog/2933_3_sf_6k_sorochka_muzhskaya_k_r/" title="картинка 2933/3 SF 6K/ Сорочка мужская К/Р магазин Seller являющийся официальным дистрибьютором в России ")
                  span.swiper-lazy(data-background="/upload/iblock/a34/a34153a77b70a68e25d01e56283ffc23.jpg")
                  span.swiper-lazy(data-background="/upload/iblock/2f0/2f087c0df1c40e949b265b1de54fb821.jpg")
              hr
              .b-actions-item__title
                a(href="/catalog/2933_3_sf_6k_sorochka_muzhskaya_k_r/") 2933/3 SF 6K/ Сорочка мужская К/Р
              hr.i-size-S
              .b-actions-item__brand BAZIONI
    .swiper-button-next
    .swiper-button-prev
    

// end /components/catalog.recommend/
