
<!-- start /components/sale.personal.profile.list/-->
<link rel="stylesheet" href="/components/sale.personal.profile.list/style.css"/>
<script src="/components/sale.personal.profile.list/script.js"></script>
<div id="profile-list">
  <table class="table">
    <tbody>
      <tr class="tr--hoverable">
        <td>ООО «Твин пикс»</td>
        <td><a href=""><i style="background-image: url(/components/sale.personal.profile.list/img/doc.svg)" class="i--doc"></i><em>
              Ваш договор:
               <em>С09092021-12</em></em></a></td>
        <td><i style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)" class="i--edit"></i></td>
      </tr>
      <tr class="tr--hoverable">
        <td>ООО «Твин пикс»</td>
        <td><a href=""><i style="background-image: url(/components/sale.personal.profile.list/img/doc.svg)" class="i--doc"></i><em>
              Ваш договор:
               <em>С09092021-12</em></em></a></td>
        <td><i style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)" class="i--edit"></i></td>
      </tr>
      <tr> 
        <td>ООО «Твин пикс»</td>
        <td><span><i style="background-image: url(/components/sale.personal.profile.list/img/time.svg)" class="i--time"></i>Ваш договор готовится</span></td>
        <td><i style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)" class="i--edit"></i></td>
      </tr>
      <tr class="tr--hoverable">
        <td>ООО «Твин пикс»</td>
        <td><a href=""><i style="background-image: url(/components/sale.personal.profile.list/img/doc.svg)" class="i--doc"></i><em>
              Ваш договор:
               <em>С09092021-12</em></em></a></td>
        <td><i style="background-image: url(/components/sale.personal.profile.list/img/edit.svg)" class="i--edit"></i></td>
      </tr>
    </tbody>
  </table>
  <hr/><a href="" class="button button-default">Добавить компанию</a>
</div>
<!-- end /components/sale.personal.profile.list/-->